.create-achievement {
  width: 300px;
  margin: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
      display: inline-block;
      margin-bottom: 5px;
    }

    .p-field {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
  }
}
.achievement-image {
  img {
    width: 60px;
    height: 60px;
  }
}
.horiz {
  display: flex;
  justify-content: space-between;

  .valueItem {
    display: flex;
    gap: 30px
  }
}
